<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>JANKEN GAME!</title>
</head>

<body>
  <div><a href="/logout">ログアウト</a></div>
  <h1>JANKEN GAME!</h1>
  <p>Hi [[${login_user}]]</p>
  <h2>エントリー</h2>
  <ul>
    <li th:each="user : ${users}">[[${user.userName}]]</li>
  </ul>

  <a href="/janken/play?hand=グー">グー</a>
  <a href="/janken/play?hand=チョキ">チョキ</a>
  <a href="/janken/play?hand=パー">パー</a>

  <div th:if="${yourHand}">
    <h3>結果</h3>
    <p>あなたの手: [[${yourHand}]]</p>
    <p>CPUの手: [[${cpuHand}]]</p>
    <p>結果: [[${result}]]</p>
  </div>

  <h2>試合結果</h2>
  <div th:each="match : ${matches}">
    <p>id:[[${match.id}]] user1:[[${match.user1}]] user2:[[${match.user2}]] user1の手:[[${match.user1Hand}]]
      user2の手:[[${match.user2Hand}]]</p>
  </div>
</body>

</html>
